[submodule "lib/ibx4lazarus"]
	path = lib/ibx4lazarus
	url = https://github.com/mariuz/ibx4lazarus.git
	branch = add-parallel-workers
[submodule "lib/fbintf"]
	path = lib/fbintf
	url = https://github.com/mariuz/fbintf.git
	branch = marathon-integration
